<h1> Data Visualization Project
<h2> HIV Infection in Children and Adolescent and GDP

<h3> by Ben Benarivo (bb3052@columbia.edu)

In this project, I would like to understand the relationship between HIV infection in children and adolescent (Age group 0 to 19) and GDP. The visualization will be done using Tableau. However, the exploratory data analysis (EDA) and data cleaning will be done using Python on this notebook.

If you want to go directly to the visualization result on Tableau, please click on this <a href="https://public.tableau.com/app/profile/benarivo/viz/GDPvsHIVAidsInfectionsonPopulationAge0-19/Dashboard1">link</a>

In [100]:
import pandas as pd

<h2> 1.a. HIV Infections for Children and Adolescent EDA

The data I will use for this section is from unicef.org.

In [114]:
df_hiv = pd.read_excel("HIV_Epidemiology.xlsx", "Data", header = 1)

In [124]:
df_hiv

,ISO3,Type,Country/Region,UNICEF Region,Indicator,Data source,Year,Sex,Age,Value,Lower,Upper
0,03M49WLD,Region,Global,NaN,Estimated incidence rate (new HIV infection pe...,UNAIDS 2022 estimates,2000,Both,Age 0-14,0.86,0.58,1.28
1,03M49WLD,Region,Global,NaN,Estimated incidence rate (new HIV infection pe...,UNAIDS 2022 estimates,2000,Both,Age 10-19,0.70,0.21,1.33
2,03M49WLD,Region,Global,NaN,Estimated incidence rate (new HIV infection pe...,UNAIDS 2022 estimates,2000,Female,Age 0-14,0.87,0.59,1.29
3,03M49WLD,Region,Global,NaN,Estimated incidence rate (new HIV infection pe...,UNAIDS 2022 estimates,2000,Female,Age 10-19,1.04,0.22,1.91
4,03M49WLD,Region,Global,NaN,Estimated incidence rate (new HIV infection pe...,UNAIDS 2022 estimates,2000,Male,Age 0-14,0.85,0.58,1.26
...,...,...,...,...,...,...,...,...,...,...,...,...
194043,regionWCA,Region,West and Central Africa,NaN,Estimated rate of annual AIDS-related deaths (...,UNAIDS 2022 estimates,2021,Both,Age 10-19,6.72,5.35,8.17
194044,regionWCA,Region,West and Central Africa,NaN,Estimated rate of annual AIDS-related deaths (...,UNAIDS 2022 estimates,2021,Female,Age 0-14,14.49,10.95,18.32
194045,regionWCA,Region,West and Central Africa,NaN,Estimated rate of annual AIDS-related deaths (...,UNAIDS 2022 estimates,2021,Female,Age 10-19,6.66,5.08,8.25
194046,regionWCA,Region,West and Central Africa,NaN,Estimated rate of annual AIDS-related deaths (...,UNAIDS 2022 estimates,2021,Male,Age 0-14,14.60,11.05,18.45
194047,regionWCA,Region,West and Central Africa,NaN,Estimated rate of annual AIDS-related deaths (...,UNAIDS 2022 estimates,2021,Male,Age 10-19,6.77,5.55,8.11

In [125]:
df_hiv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194048 entries, 0 to 194047
Data columns (total 12 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   ISO3            194048 non-null  object
 1   Type            194048 non-null  object
 2   Country/Region  194048 non-null  object
 3   UNICEF Region   179354 non-null  object
 4   Indicator       194048 non-null  object
 5   Data source     194048 non-null  object
 6   Year            194048 non-null  int64
 7   Sex             194048 non-null  object
 8   Age             194048 non-null  object
 9   Value           194026 non-null  object
 10  Lower           193770 non-null  object
 11  Upper           193770 non-null  object
dtypes: int64(1), object(11)
memory usage: 17.8+ MB

In [126]:
df_hiv.ISO3.unique()

array(['03M49WLD', 'AFG', 'AGO', 'ALB', 'ARG', 'ARM', 'AUS', 'AZE', 'BDI',
       'BEN', 'BFA', 'BGD', 'BGR', 'BHR', 'BHS', 'BLR', 'BLZ', 'BOL',
       'BRB', 'BTN', 'BWA', 'CAF', 'CHL', 'CIV', 'CMR', 'COD', 'COG',
       'COL', 'COM', 'CPV', 'CRI', 'CUB', 'CYP', 'DEU', 'DJI', 'DNK',
       'DOM', 'DZA', 'ECU', 'EGY', 'ERI', 'ESP', 'ETH', 'FJI', 'FRA',
       'GAB', 'GEO', 'GHA', 'GIN', 'GMB', 'GNB', 'GNQ', 'GRC', 'GTM',
       'GUY', 'HND', 'HRV', 'HTI', 'IDN', 'IND', 'IRL', 'IRN', 'ISL',
       'ITA', 'JAM', 'KAZ', 'KEN', 'KGZ', 'KHM', 'LAO', 'LBN', 'LBR',
       'LBY', 'LKA', 'LSO', 'LTU', 'LUX', 'LVA', 'MAR', 'MDA', 'MDG',
       'MEX', 'MLI', 'MMR', 'MNE', 'MNG', 'MRT', 'MUS', 'MWI', 'MYS',
       'NAM', 'NER', 'NGA', 'NIC', 'NLD', 'NOR', 'NPL', 'NZL', 'OMN',
       'PAK', 'PER', 'PHL', 'PNG', 'PRT', 'PRY', 'QAT', 'ROU', 'RWA',
       'SDN', 'SEN', 'SGP', 'SLE', 'SLV', 'SOM', 'SRB', 'SSD', 'STP',
       'SUR', 'SVK', 'SVN', 'SWZ', 'SYR', 'TCD', 'TGO', 'THA', 'TJK',
       'TLS', 'TTO', 'TUN', 'TZA', 'UGA', 'UKR', 'URY', 'USA', 'UZB',
       'VEN', 'VNM', 'YEM', 'ZAF', 'ZMB', 'ZWE', 'regionEAP', 'regionESA',
       'regionLAC', 'regionMENA', 'regionSA', 'regionSSA', 'regionWCA'],
      dtype=object)

As we can see that ISO3 is the three-letter country codes representing a country or region. However, there are several data points that are not using the ISO3 standard such as '03M49WLD' for 'The world'

In [127]:
df_hiv["Type"].unique()

array(['Region', 'Country'], dtype=object)

The data is grouped to a regional data and country data

In [128]:
df_hiv["Country/Region"].unique()

array(['Global', 'Afghanistan', 'Angola', 'Albania', 'Argentina',
       'Armenia', 'Australia', 'Azerbaijan', 'Burundi', 'Benin',
       'Burkina Faso', 'Bangladesh', 'Bulgaria', 'Bahrain', 'Bahamas',
       'Belarus', 'Belize', 'Bolivia (Plurinational State of)',
       'Barbados', 'Bhutan', 'Botswana', 'Central African Republic',
       'Chile', "CÃ´te d'Ivoire", 'Cameroon',
       'Democratic Republic of the Congo', 'Congo', 'Colombia', 'Comoros',
       'Cabo Verde', 'Costa Rica', 'Cuba', 'Cyprus', 'Germany',
       'Djibouti', 'Denmark', 'Dominican Republic', 'Algeria', 'Ecuador',
       'Egypt', 'Eritrea', 'Spain', 'Ethiopia', 'Fiji', 'France', 'Gabon',
       'Georgia', 'Ghana', 'Guinea', 'Gambia', 'Guinea-Bissau',
       'Equatorial Guinea', 'Greece', 'Guatemala', 'Guyana', 'Honduras',
       'Croatia', 'Haiti', 'Indonesia', 'India', 'Ireland',
       'Iran (Islamic Republic of)', 'Iceland', 'Italy', 'Jamaica',
       'Kazakhstan', 'Kenya', 'Kyrgyzstan', 'Cambodia',
       "Lao People's Democratic Republic", 'Lebanon', 'Liberia', 'Libya',
       'Sri Lanka', 'Lesotho', 'Lithuania', 'Luxembourg', 'Latvia',
       'Morocco', 'Republic of Moldova', 'Madagascar', 'Mexico', 'Mali',
       'Myanmar', 'Montenegro', 'Mongolia', 'Mauritania', 'Mauritius',
       'Malawi', 'Malaysia', 'Namibia', 'Niger', 'Nigeria', 'Nicaragua',
       'Netherlands', 'Norway', 'Nepal', 'New Zealand', 'Oman',
       'Pakistan', 'Peru', 'Philippines', 'Papua New Guinea', 'Portugal',
       'Paraguay', 'Qatar', 'Romania', 'Rwanda', 'Sudan', 'Senegal',
       'Singapore', 'Sierra Leone', 'El Salvador', 'Somalia', 'Serbia',
       'South Sudan', 'Sao Tome and Principe', 'Suriname', 'Slovakia',
       'Slovenia', 'Eswatini', 'Syrian Arab Republic', 'Chad', 'Togo',
       'Thailand', 'Tajikistan', 'Timor-Leste', 'Trinidad and Tobago',
       'Tunisia', 'United Republic of Tanzania', 'Uganda', 'Ukraine',
       'Uruguay', 'United States', 'Uzbekistan',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Yemen',
       'South Africa', 'Zambia', 'Zimbabwe', 'East Asia and Pacific',
       'Eastern and Southern Africa', 'Latin America and Caribbean',
       'Middle East and North Africa', 'South Asia', 'Sub-Saharan Africa',
       'West and Central Africa'], dtype=object)

In [129]:
df_hiv["UNICEF Region"].unique()

array([nan, 'South Asia', 'Eastern and Southern Africa',
       'Eastern Europe and Central Asia', 'Latin America and Caribbean',
       'East Asia and Pacific', 'West and Central Africa',
       'Middle East and North Africa', 'Western Europe'], dtype=object)

In [130]:
df_hiv[df_hiv["Type"] == "Region"]["UNICEF Region"].unique()

array([nan], dtype=object)

All the UNICEF Region for regional data are empty / NULL

In [131]:
df_hiv["Type"].unique()

array(['Region', 'Country'], dtype=object)

In [132]:
df_hiv.Indicator.unique()

array(['Estimated incidence rate (new HIV infection per 1,000 uninfected population)',
       'Estimated mother-to-child transmission rate (%)',
       'Estimated number of annual AIDS-related deaths',
       'Estimated number of annual new HIV infections',
       'Estimated number of people living with HIV',
       'Estimated rate of annual AIDS-related deaths (per 100,000 population)'],
      dtype=object)

These are the different indicators used in the data

In [133]:
df_hiv["Data source"].unique()

array(['UNAIDS 2022 estimates'], dtype=object)

All the data is from UNAIDS 2022 estimates

In [134]:
df_hiv.Year.unique()

array([2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010,
       2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021],
      dtype=int64)

The data is from 200 until 2021

In [135]:
df_hiv.Sex.unique()

array(['Both', 'Female', 'Male'], dtype=object)

The data is also aggregated based on gender. The data for "both" gender are either the summation or the average of the male and female gender data depending on the type of the value/Indicator

In [136]:
df_hiv[(df_hiv["Country/Region"] == "Egypt") & (df_hiv.Age == "Age 0-14") & (df_hiv.Year == 2000)]

,ISO3,Type,Country/Region,UNICEF Region,Indicator,Data source,Year,Sex,Age,Value,Lower,Upper
51931,EGY,Country,Egypt,Middle East and North Africa,Estimated number of annual AIDS-related deaths,UNAIDS 2022 estimates,2000,Both,Age 0-14,<100,<100,<100
51939,EGY,Country,Egypt,Middle East and North Africa,Estimated number of annual AIDS-related deaths,UNAIDS 2022 estimates,2000,Female,Age 0-14,<100,<100,<100
51947,EGY,Country,Egypt,Middle East and North Africa,Estimated number of annual AIDS-related deaths,UNAIDS 2022 estimates,2000,Male,Age 0-14,<100,<100,<100
52459,EGY,Country,Egypt,Middle East and North Africa,Estimated number of people living with HIV,UNAIDS 2022 estimates,2000,Both,Age 0-14,<200,<200,<200
52467,EGY,Country,Egypt,Middle East and North Africa,Estimated number of people living with HIV,UNAIDS 2022 estimates,2000,Female,Age 0-14,<100,<100,<100
52475,EGY,Country,Egypt,Middle East and North Africa,Estimated number of people living with HIV,UNAIDS 2022 estimates,2000,Male,Age 0-14,<100,<100,<100
52987,EGY,Country,Egypt,Middle East and North Africa,Estimated rate of annual AIDS-related deaths (...,UNAIDS 2022 estimates,2000,Both,Age 0-14,0.11,0.09,0.14
52989,EGY,Country,Egypt,Middle East and North Africa,Estimated rate of annual AIDS-related deaths (...,UNAIDS 2022 estimates,2000,Female,Age 0-14,0.11,0.09,0.14
52991,EGY,Country,Egypt,Middle East and North Africa,Estimated rate of annual AIDS-related deaths (...,UNAIDS 2022 estimates,2000,Male,Age 0-14,0.12,0.09,0.14

In [137]:
df_hiv[(df_hiv["Country/Region"] == "Indonesia") & (df_hiv.Age == "Age 0-14") & (df_hiv.Year == 2000)]

,ISO3,Type,Country/Region,UNICEF Region,Indicator,Data source,Year,Sex,Age,Value,Lower,Upper
78243,IDN,Country,Indonesia,East Asia and Pacific,Estimated incidence rate (new HIV infection pe...,UNAIDS 2022 estimates,2000,Both,Age 0-14,0.01,0.01,0.01
78245,IDN,Country,Indonesia,East Asia and Pacific,Estimated incidence rate (new HIV infection pe...,UNAIDS 2022 estimates,2000,Female,Age 0-14,0.01,0.01,0.01
78247,IDN,Country,Indonesia,East Asia and Pacific,Estimated incidence rate (new HIV infection pe...,UNAIDS 2022 estimates,2000,Male,Age 0-14,0.01,0.01,0.01
78397,IDN,Country,Indonesia,East Asia and Pacific,Estimated number of annual AIDS-related deaths,UNAIDS 2022 estimates,2000,Both,Age 0-14,<200,<200,<200
78405,IDN,Country,Indonesia,East Asia and Pacific,Estimated number of annual AIDS-related deaths,UNAIDS 2022 estimates,2000,Female,Age 0-14,<100,<100,<100
78413,IDN,Country,Indonesia,East Asia and Pacific,Estimated number of annual AIDS-related deaths,UNAIDS 2022 estimates,2000,Male,Age 0-14,<100,<100,<100
78925,IDN,Country,Indonesia,East Asia and Pacific,Estimated number of annual new HIV infections,UNAIDS 2022 estimates,2000,Both,Age 0-14,<500,<500,<500
78931,IDN,Country,Indonesia,East Asia and Pacific,Estimated number of annual new HIV infections,UNAIDS 2022 estimates,2000,Female,Age 0-14,<200,<200,<200
78937,IDN,Country,Indonesia,East Asia and Pacific,Estimated number of annual new HIV infections,UNAIDS 2022 estimates,2000,Male,Age 0-14,<200,<200,<200
79321,IDN,Country,Indonesia,East Asia and Pacific,Estimated number of people living with HIV,UNAIDS 2022 estimates,2000,Both,Age 0-14,<500,<500,<500
79329,IDN,Country,Indonesia,East Asia and Pacific,Estimated number of people living with HIV,UNAIDS 2022 estimates,2000,Female,Age 0-14,<500,<200,<500
79337,IDN,Country,Indonesia,East Asia and Pacific,Estimated number of people living with HIV,UNAIDS 2022 estimates,2000,Male,Age 0-14,<500,<200,<500
79849,IDN,Country,Indonesia,East Asia and Pacific,Estimated rate of annual AIDS-related deaths (...,UNAIDS 2022 estimates,2000,Both,Age 0-14,0.20,0.17,0.22
79851,IDN,Country,Indonesia,East Asia and Pacific,Estimated rate of annual AIDS-related deaths (...,UNAIDS 2022 estimates,2000,Female,Age 0-14,0.19,0.17,0.21
79853,IDN,Country,Indonesia,East Asia and Pacific,Estimated rate of annual AIDS-related deaths (...,UNAIDS 2022 estimates,2000,Male,Age 0-14,0.20,0.17,0.22

For the data using absolute values, the 'Value' for both gender is the summation from the 'Value' from male and female data. For the data that use rate, the 'Value' for both gender is the average for the 'Value' from male and female data

In [138]:
df_hiv[(df_hiv["Country/Region"] == "Indonesia") & (df_hiv.Sex == "Both") & (df_hiv.Year == 2000)]

,ISO3,Type,Country/Region,UNICEF Region,Indicator,Data source,Year,Sex,Age,Value,Lower,Upper
78243,IDN,Country,Indonesia,East Asia and Pacific,Estimated incidence rate (new HIV infection pe...,UNAIDS 2022 estimates,2000,Both,Age 0-14,0.01,0.01,0.01
78244,IDN,Country,Indonesia,East Asia and Pacific,Estimated incidence rate (new HIV infection pe...,UNAIDS 2022 estimates,2000,Both,Age 10-19,0.09,0.04,0.17
78375,IDN,Country,Indonesia,East Asia and Pacific,Estimated mother-to-child transmission rate (%),UNAIDS 2022 estimates,2000,Both,Age 0-4,47.53,44.51,51.23
78397,IDN,Country,Indonesia,East Asia and Pacific,Estimated number of annual AIDS-related deaths,UNAIDS 2022 estimates,2000,Both,Age 0-14,<200,<200,<200
78398,IDN,Country,Indonesia,East Asia and Pacific,Estimated number of annual AIDS-related deaths,UNAIDS 2022 estimates,2000,Both,Age 0-19,<200,<200,<200
78399,IDN,Country,Indonesia,East Asia and Pacific,Estimated number of annual AIDS-related deaths,UNAIDS 2022 estimates,2000,Both,Age 0-4,<200,<200,<200
78400,IDN,Country,Indonesia,East Asia and Pacific,Estimated number of annual AIDS-related deaths,UNAIDS 2022 estimates,2000,Both,Age 0-9,<200,<200,<200
78401,IDN,Country,Indonesia,East Asia and Pacific,Estimated number of annual AIDS-related deaths,UNAIDS 2022 estimates,2000,Both,Age 10-14,<100,<100,<100
78402,IDN,Country,Indonesia,East Asia and Pacific,Estimated number of annual AIDS-related deaths,UNAIDS 2022 estimates,2000,Both,Age 10-19,<100,<100,<100
78403,IDN,Country,Indonesia,East Asia and Pacific,Estimated number of annual AIDS-related deaths,UNAIDS 2022 estimates,2000,Both,Age 15-19,<100,<100,<100
78404,IDN,Country,Indonesia,East Asia and Pacific,Estimated number of annual AIDS-related deaths,UNAIDS 2022 estimates,2000,Both,Age 5-9,<100,<100,<100
78925,IDN,Country,Indonesia,East Asia and Pacific,Estimated number of annual new HIV infections,UNAIDS 2022 estimates,2000,Both,Age 0-14,<500,<500,<500
78926,IDN,Country,Indonesia,East Asia and Pacific,Estimated number of annual new HIV infections,UNAIDS 2022 estimates,2000,Both,Age 0-19,"2,300","1,100","4,000"
78927,IDN,Country,Indonesia,East Asia and Pacific,Estimated number of annual new HIV infections,UNAIDS 2022 estimates,2000,Both,Age 0-4,<500,<500,<500
78928,IDN,Country,Indonesia,East Asia and Pacific,Estimated number of annual new HIV infections,UNAIDS 2022 estimates,2000,Both,Age 0-9,<500,<500,<500
78929,IDN,Country,Indonesia,East Asia and Pacific,Estimated number of annual new HIV infections,UNAIDS 2022 estimates,2000,Both,Age 10-19,"2,000",870,"3,700"
78930,IDN,Country,Indonesia,East Asia and Pacific,Estimated number of annual new HIV infections,UNAIDS 2022 estimates,2000,Both,Age 15-19,"2,000",870,"3,700"
79321,IDN,Country,Indonesia,East Asia and Pacific,Estimated number of people living with HIV,UNAIDS 2022 estimates,2000,Both,Age 0-14,<500,<500,<500
79322,IDN,Country,Indonesia,East Asia and Pacific,Estimated number of people living with HIV,UNAIDS 2022 estimates,2000,Both,Age 0-19,"3,900","1,600","7,400"
79323,IDN,Country,Indonesia,East Asia and Pacific,Estimated number of people living with HIV,UNAIDS 2022 estimates,2000,Both,Age 0-4,<500,<500,<500
79324,IDN,Country,Indonesia,East Asia and Pacific,Estimated number of people living with HIV,UNAIDS 2022 estimates,2000,Both,Age 0-9,<500,<500,<500
79325,IDN,Country,Indonesia,East Asia and Pacific,Estimated number of people living with HIV,UNAIDS 2022 estimates,2000,Both,Age 10-14,<100,<100,<100
79326,IDN,Country,Indonesia,East Asia and Pacific,Estimated number of people living with HIV,UNAIDS 2022 estimates,2000,Both,Age 10-19,"3,500","1,200","6,900"
79327,IDN,Country,Indonesia,East Asia and Pacific,Estimated number of people living with HIV,UNAIDS 2022 estimates,2000,Both,Age 15-19,"3,500","2,500","4,300"
79328,IDN,Country,Indonesia,East Asia and Pacific,Estimated number of people living with HIV,UNAIDS 2022 estimates,2000,Both,Age 5-9,<100,<100,<100
79849,IDN,Country,Indonesia,East Asia and Pacific,Estimated rate of annual AIDS-related deaths (...,UNAIDS 2022 estimates,2000,Both,Age 0-14,0.20,0.17,0.22
79850,IDN,Country,Indonesia,East Asia and Pacific,Estimated rate of annual AIDS-related deaths (...,UNAIDS 2022 estimates,2000,Both,Age 10-19,0.05,0.01,0.10

"Lower" and "Upper" are the maximum and minimum range of the "Value".

In [139]:
print(df_hiv["Value"].unique().tolist())

['0.86', '0.70', '0.87', '1.04', '0.85', '0.38', '0.66', '0.98', '0.35', '0.84', '0.62', '0.92', '0.83', '0.33', '0.82', '0.58', '0.81', '0.31', '0.80', '0.54', '0.79', '0.29', '0.77', '0.51', '0.78', '0.76', '0.27', '0.73', '0.49', '0.74', '0.72', '0.26', '0.68', '0.47', '0.69', '0.71', '0.67', '0.25', '0.61', '0.46', '0.24', '0.56', '0.45', '0.57', '0.55', '0.23', '0.43', '0.50', '0.22', '0.44', '0.42', '0.65', '0.21', '0.41', '0.39', '0.63', '0.40', '0.36', '0.19', '0.59', '0.32', '0.18', '0.30', '0.17', '0.16', '0.28', '0.15', '0.48', '0.14', '0.13', '38.04', '37.66', '37.31', '36.92', '36.30', '34.98', '33.49', '31.14', '28.42', '25.91', '23.71', '20.70', '18.18', '16.64', '15.43', '14.59', '14.38', '13.75', '13.03', '12.45', '12.58', '11.94', '340,000', '360,000', '300,000', '330,000', '12,000', '28,000', '15,000', '170,000', '180,000', '150,000', '160,000', '6,200', '16,000', '10,000', '14,000', '6,300', '11,000', '5,100', '350,000', '370,000', '32,000', '17,000', '31,000', '7,600', '18,000', '7,800', '5,800', '19,000', '37,000', '33,000', '190,000', '9,200', '21,000', '9,300', '6,600', '22,000', '41,000', '20,000', '35,000', '23,000', '7,500', '380,000', '290,000', '24,000', '46,000', '36,000', '140,000', '25,000', '13,000', '8,400', '320,000', '27,000', '50,000', '280,000', '310,000', '29,000', '53,000', '9,800', '260,000', '55,000', '130,000', '26,000', '230,000', '270,000', '110,000', '120,000', '200,000', '240,000', '100,000', '210,000', '54,000', '87,000', '90,000', '220,000', '30,000', '77,000', '91,000', '80,000', '94,000', '51,000', '95,000', '68,000', '81,000', '98,000', '70,000', '84,000', '49,000', '59,000', '71,000', '61,000', '73,000', '76,000', '64,000', '78,000', '89,000', '66,000', '44,000', '58,000', '9,600', '72,000', '83,000', '60,000', '42,000', '63,000', '74,000', '52,000', '8,300', '65,000', '75,000', '8,500', '88,000', '40,000', '43,000', '9,900', '7,100', '62,000', '45,000', '9,500', '7,300', '85,000', '57,000', '67,000', '48,000', '9,100', '6,000', '34,000', '8,100', '5,200', '56,000', '8,700', '5,400', '82,000', '92,000', '7,200', '8,600', '4,700', '47,000', '8,200', '4,800', '9,000', '4,400', '39,000', '6,400', '7,900', '4,500', '520,000', '910,000', '390,000', '540,000', '890,000', '530,000', '510,000', '870,000', '250,000', '99,000', '500,000', '840,000', '93,000', '490,000', '820,000', '480,000', '470,000', '790,000', '460,000', '450,000', '750,000', '440,000', '420,000', '710,000', '670,000', '630,000', '590,000', '69,000', '410,000', '97,000', '86,000', '2,140,000', '3,260,000', '1,230,000', '1,900,000', '1,360,000', '1,110,000', '1,060,000', '1,880,000', '600,000', '940,000', '1,080,000', '1,380,000', '620,000', '960,000', '2,260,000', '3,360,000', '1,960,000', '1,400,000', '1,100,000', '730,000', '1,120,000', '1,920,000', '610,000', '970,000', '950,000', '800,000', '1,150,000', '1,440,000', '990,000', '2,370,000', '3,450,000', '2,010,000', '780,000', '1,170,000', '1,200,000', '1,490,000', '1,020,000', '2,460,000', '3,510,000', '1,220,000', '2,040,000', '1,470,000', '1,210,000', '1,980,000', '1,010,000', '770,000', '400,000', '1,240,000', '1,530,000', '1,030,000', '2,520,000', '3,560,000', '2,050,000', '1,510,000', '1,040,000', '1,250,000', '2,000,000', '980,000', '1,280,000', '1,570,000', '430,000', '2,570,000', '3,600,000', '1,180,000', '1,560,000', '860,000', '1,270,000', '580,000', '1,000,000', '740,000', '1,300,000', '1,600,000', '560,000', '2,590,000', '3,630,000', '2,020,000', '570,000', '1,610,000', '1,310,000', '1,620,000', '1,650,000', '550,000', '720,000', '1,630,000', '1,930,000', '640,000', '1,700,000', '1,640,000', '660,000', '2,540,000', '3,620,000', '1,750,000', '1,260,000', '1,990,000', '930,000', '1,290,000', '690,000', '2,500,000', '3,610,000', '1,820,000', '680,000', '1,790,000', '850,000', '1,970,000', '900,000', '1,070,000', '920,000', '2,440,000', '3,570,000', '1,950,000', '1,090,000', '1,670,000', '700,000', '1,840,000', '1,140,000', '830,000', '1,590,000', '2,290,000', '3,440,000', '1,850,000', '1,130,000', '1,160,000', '760,000', '2,210,000', '3,370,000', '1,860,000', '3,290,000', '650,000', '1,430,000', '1,050,000', '1,800,000', '2,070,000', '3,210,000', '1,460,000', '3,120,000', '1,830,000', '1,420,000', '3,030,000', '1,810,000', '2,930,000', '1,340,000', '1,760,000', '2,830,000', '1,680,000', '2,730,000', '1,710,000', '18.62', '2.35', '18.88', '2.83', '18.38', '1.89', '19.01', '2.68', '19.28', '3.17', '18.75', '2.22', '19.27', '3.04', '19.56', '3.52', '19.00', '2.58', '19.38', '3.40', '19.68', '3.88', '19.10', '2.95', '19.37', '3.77', '19.67', '4.23', '19.08', '3.32', '19.16', '4.07', '19.47', '4.52', '18.87', '3.64', '18.68', '4.34', '18.98', '4.77', '18.39', '3.93', '17.67', '4.50', '17.97', '4.92', '17.39', '4.11', '16.18', '4.57', '16.45', '4.96', '15.91', '4.20', '14.44', '14.69', '4.88', '14.20', '4.18', '12.87', '4.46', '13.09', '4.79', '12.66', '4.15', '11.49', '4.36', '11.69', '4.64', '11.31', '10.24', '4.25', '10.41', '4.47', '10.07', '4.05', '9.02', '4.03', '9.17', '4.17', '8.88', '3.90', '8.08', '3.83', '8.22', '3.96', '7.95', '3.71', '7.43', '3.67', '7.56', '3.81', '7.32', '3.55', '6.67', '3.48', '6.78', '3.60', '6.56', '3.36', '6.31', '3.26', '6.41', '3.38', '6.21', '3.15', '5.93', '3.03', '6.03', '3.14', '5.85', '2.92', '5.63', '2.77', '5.71', '2.88', '5.54', '5.38', '2.52', '5.46', '2.61', '5.30', '2.42', '4.93', '2.30', '5.00', '2.39', '4.86', '2.21', '<0.01', '0.01', '0.02', '51.63', '51.03', '51.45', '50.40', '49.98', '49.78', '49.44', '49.66', '49.69', '49.20', '48.37', '48.24', '49.27', '47.68', '47.09', '47.79', '46.92', '45.26', '46.12', '45.77', '44.93', '44.49', '<100', '<200', '<500', '510', '540', '570', '600', '640', '680', '710', '520', '760', '0.20', '0.04', '0.03', '0.05', '0.06', '0.34', '0.08', '0.07', '0.37', '0.09', '1.44', '1.35', '1.43', '2.24', '1.46', '1.58', '1.47', '1.56', '2.45', '1.60', '1.69', '1.67', '1.71', '1.79', '1.50', '1.77', '2.50', '1.81', '1.86', '1.51', '1.83', '2.51', '1.88', '1.91', '1.54', '2.56', '1.93', '1.85', '2.57', '1.87', '2.49', '1.90', '1.45', '1.84', '2.41', '1.41', '1.82', '2.36', '1.80', '1.34', '1.78', '2.23', '1.23', '2.06', '1.21', '1.76', '2.04', '1.66', '1.12', '1.64', '0.88', '1.42', '1.40', '1.39', '1.22', '1.27', '0.93', '1.20', '0.94', '1.13', '0.64', '1.03', '39.59', '39.65', '39.05', '38.77', '38.13', '37.52', '34.97', '34.56', '33.36', '32.65', '31.66', '32.41', '31.81', '30.05', '26.92', '27.00', '27.65', '28.13', '25.62', '20.49', '18.32', '15.19', '2,400', '2,500', '2,300', '1,200', '1,300', '1,100', '2,800', '2,900', '2,600', '1,400', '3,100', '3,200', '1,600', '1,500', '3,500', '3,600', '3,300', '3,400', '1,700', '1,800', '3,900', '3,800', '1,900', '2,000', '4,200', '4,300', '4,100', '2,100', '2,200', '4,600', '4,900', '5,000', '5,300', '2,700', '5,500', '5,700', '5,900', '3,000', '550', '580', '620', '5,600', '670', '750', '500', '800', '830', '3,700', '870', '4,000', '6,900', '6,100', '9,700', '7,000', '560', '7,700', '6,800', '8,000', '6,700', '7,400', '840', '780', '950', '1,000', '8,900', '8,800', '630', '790', '980', '9,400', '38,000', '6,500', '31.51', '2.03', '31.11', '31.89', '34.90', '2.38', '34.46', '3.27', '35.31', '1.53', '38.06', '2.80', '37.59', '3.73', '38.51', '41.12', '3.24', '40.62', '41.63', '2.27', '43.74', '3.74', '43.20', '4.73', '44.25', '2.78', '46.11', '4.29', '45.57', '46.67', '3.30', '47.11', '46.57', '5.88', '47.66', '3.87', '5.36', '47.69', '6.26', '48.81', '4.40', '48.72', '48.16', '6.84', '49.30', '5.01', '48.91', '6.55', '48.34', '7.42', '49.47', '5.66', '48.31', '7.17', '47.75', '7.98', '48.88', '6.30', '48.74', '7.79', '48.15', '8.57', '49.32', '6.99', '48.70', '8.47', '48.10', '9.24', '49.28', '7.70', '9.08', '46.52', '9.74', '47.65', '8.41', '43.64', '9.29', '43.14', '9.63', '44.13', '8.95', '41.59', '9.56', '41.16', '42.03', '9.37', '39.51', '9.99', '39.12', '10.30', '39.91', '9.68', '39.26', '10.66', '38.90', '11.23', '39.63', '10.09', '37.74', '11.01', '37.42', '11.66', '38.07', '10.34', '32.28', '11.00', '32.03', '11.46', '32.52', '10.53', '27.40', '11.06', '27.20', '11.15', '27.58', '10.95', '23.15', '10.70', '23.01', '10.56', '23.30', '10.86', '21.37', '20.53', '19.50', '18.08', '17.06', '15.29', '14.24', '12.27', '10.98', '8.50', '7.11', '6.40', '6.48', '6.06', '5.91', '5.58', '5.08', '4.74', '4.61', '730', '530', '740', '960', '930', '910', '900', '890', '880', '860', '850', '770', '810', '720', '970', '990', '1.63', '1.62', '1.19', '1.18', '1.02', '0.90', '0.10', '0.11', '0.89', '26.06', '25.84', '0.95', '16.80', '17.18', '18.78', '13.12', '11.71', '15.02', '16.93', '14.02', '10.77', '12.82', '11.59', '13.18', '10.06', '10.63', '9.94', '0.12', '43.88', '39.20', '37.93', '35.94', '34.84', '33.94', '33.18', '32.15', '31.24', '31.12', '30.52', '29.70', '27.62', '27.16', '27.03', '24.93', '21.83', '21.82', '19.74', '1.33', '1.65', '2.01', '2.05', '2.11', '2.07', '2.13', '2.08', '2.18', '2.10', '2.00', '1.73', '1.70', '1.55', '1.28', '1.32', '1.09', '1.06', '0.96', '0.91', '0.53', '4.00', '1.16', '4.04', '3.29', '1.38', '2.94', '2.97', '1.01', '2.60', '2.16', '2.19', '1.92', '1.74', '1.75', '1.48', '1.49', '42.07', '42.27', '41.76', '41.41', '40.38', '37.73', '36.65', '36.49', '34.00', '33.24', '27.04', '25.87', '24.52', '21.50', '18.67', '17.04', '12.54', '13.41', '14.00', '13.53', '14.84', '17.96', '590', '650', '700', '920', '610', '820', '660', '690', '940', '105.09', '23.26', '104.03', '24.26', '106.15', '22.26', '100.08', '27.57', '99.13', '28.41', '101.04', '26.74', '94.34', '31.64', '93.48', '32.23', '95.19', '30.95', '88.42', '35.55', '87.72', '36.02', '89.13', '35.09', '82.31', '38.74', '81.68', '82.88', '38.34', '75.10', '39.81', '74.60', '39.97', '75.60', '39.74', '67.59', '39.61', '67.11', '68.01', '61.46', '39.02', '61.08', '38.81', '61.84', '39.23', '53.90', '36.62', '53.55', '36.32', '54.24', '37.01', '47.91', '33.84', '47.58', '33.41', '48.20', '34.37', '38.73', '30.81', '38.47', '30.29', '38.94', '31.32', '32.53', '27.31', '32.32', '26.62', '32.68', '28.01', '28.74', '24.80', '28.57', '24.04', '28.91', '25.57', '23.58', '22.27', '23.45', '20.35', '24.18', '21.27', '20.75', '21.16', '18.61', '22.88', '17.64', '18.20', '17.55', '16.57', '17.73', '19.91', '15.15', '13.02', '13.97', '13.15', '16.33', '11.93', '13.22', '11.89', '12.38', '11.97', '13.99', '10.75', '10.71', '10.80', '11.92', '10.11', '9.25', '8.81', '10.15', '9.59', '7.27', '9.55', '7.54', '9.48', '9.42', '9.53', '6.32', '1.10', '1.68', '1.61', '1.57', '1.52', '1.31', '1.37', '1.00', '0.52', '0.97', '0.60', '40.90', '40.74', '40.70', '40.64', '40.57', '40.72', '35.01', '31.78', '30.35', '29.05', '27.56', '28.65', '26.08', '21.00', '17.68', '13.94', '11.39', '10.99', '10.32', '39.58', '3.68', '39.33', '4.60', '39.82', '39.98', '4.24', '39.73', '5.07', '40.22', '3.41', '40.08', '39.84', '5.64', '40.32', '4.13', '39.89', '5.65', '39.67', '40.10', '5.03', '39.48', '6.54', '39.25', '7.22', '39.69', '5.98', '38.78', '7.48', '38.55', '8.10', '38.95', '6.87', '37.83', '37.65', '9.03', '38.01', '7.92', '36.76', '9.40', '36.56', '9.91', '36.91', '8.90', '35.30', '10.33', '35.15', '10.74', '35.44', '10.03', '32.73', '9.32', '32.62', '9.28', '32.88', '9.46', '27.50', '8.97', '27.39', '8.74', '27.61', '9.20', '25.83', '8.82', '25.73', '8.51', '25.92', '9.13', '24.81', '8.63', '24.71', '8.28', '24.90', '22.47', '8.23', '22.38', '7.72', '22.56', '8.72', '21.92', '8.55', '21.86', '8.02', '22.03', '9.07', '20.80', '8.45', '20.73', '20.86', '8.91', '17.13', '8.14', '7.76', '17.20', '14.40', '7.61', '14.34', '7.24', '14.46', '12.51', '7.33', '6.89', '12.56', '7.14', '10.93', '6.49', '11.03', '6.23', '9.05', '5.81', '9.09', '6.64', '7.69', '5.72', '7.68', '5.44', '7.71', '5.92', '1.29', '1.17', '1.05', '0.75', '42.80', '43.05', '43.23', '42.93', '42.65', '41.72', '40.02', '34.75', '34.40', '29.23', '26.41', '23.59', '22.34', '21.33', '16.32', '11.95', '11.34', '11.18', '10.76', '10.57', '10.10', '52.50', '52.25', '13.98', '52.73', '12.86', '49.68', '15.45', '49.46', '15.97', '49.90', '14.95', '46.71', '17.31', '46.53', '17.78', '46.88', '16.85', '43.49', '18.86', '43.32', '19.29', '43.65', '18.52', '40.41', '19.80', '40.28', '20.10', '40.58', '20.19', '37.45', '20.34', '37.72', '19.97', '34.26', '19.30', '34.14', '19.36', '19.24', '30.21', '17.84', '30.11', '17.79', '30.31', '17.88', '27.60', '16.99', '27.52', '16.94', '27.67', '17.03', '24.22', '15.60', '24.15', '15.49', '24.29', '15.70', '18.34', '13.45', '18.28', '13.26', '18.40', '13.63', '16.56', '12.39', '16.51', '12.12', '16.61', '12.69', '14.89', '11.58', '14.83', '14.92', '12.61', '13.48', '13.44', '9.69', '13.51', '12.22', '11.62', '11.57', '9.31', '9.64', '8.48', '9.71', '7.74', '8.25', '7.77', '8.76', '6.53', '7.35', '6.51', '6.98', '5.50', '5.48', '6.29', '5.51', '6.76', '5.02', '5.22', '5.04', '4.53', '5.21', '4.51', '4.55', '4.35', '80.72', '81.31', '81.87', '80.08', '77.93', '75.63', '72.04', '67.43', '62.67', '59.59', '55.69', '57.93', '55.63', '54.40', '52.21', '53.13', '51.56', '48.21', '49.54', '52.28', '46.78', '1.14', '25.31', '19.31', '15.48', '12.46', '13.59', '15.92', '7.78', '12.07', '20.03', '21.81', '9.10', '11.56', '13.23', '15.40', '19.19', '22.54', '33.07', '6.96', '33.81', '6.93', '29.86', '30.23', '6.88', '29.50', '6.85', '6.81', '23.41', '6.83', '25.09', '6.79', '20.91', '6.77', '21.21', '20.62', '6.74', '18.70', '6.75', '18.42', '6.70', '16.76', '18.55', '6.66', '14.29', '4.99', '14.54', '3.35', '14.05', '6.60', '14.48', '4.94', '14.75', '14.23', '12.25', '12.49', '12.03', '3.23', '11.20', '3.25', '12.20', '3.21', '12.88', '3.31', '12.36', '15.37', '15.71', '15.04', '13.00', '13.30', '3.43', '12.71', '3.33', '3.46', '10.82', '8.04', '8.24', '3.61', '7.86', '3.49', '8.13', '8.34', '7.94', '3.58', '5.62', '3.80', '3.66', '6.90', '3.89', '8.09', '8.38', '1.94', '8.59', '8.18', '1.96', '8.70', '8.27', '8.61', '1.97', '8.83', '4.02', '8.39', '3.85', '10.20', '11.36', '3.86', '23.66', '23.65', '9.58', '10.83', '9.43', '9.89', '5.05', '8.98', '8.42', '10.36', '11.96', '10.29', '10.49', '12.29', '13.10', '12.96', '0.99', '1.07', '1.11', '1.08', '1.15', '1.24', '2.37', '2.70', '2.69', '2.91', '2.90', '1.36', '1.30', '46.19', '40.98', '33.78', '31.90', '33.61', '32.90', '25.95', '23.84', '13.43', '14.73', '19.98', '16.75', '22.24', '16.37', '20.81', '19.94', '19.78', '13.57', '13.17', '13.31', '13.04', '13.89', '12.83', '3.11', '13.71', '12.92', '3.10', '14.47', '15.35', '14.60', '16.09', '2.98', '16.97', '16.25', '17.69', '2.93', '16.08', '17.51', '14.16', '2.87', '15.61', '2.84', '2.82', '10.45', '10.23', '2.76', '8.56', '8.66', '2.73', '8.46', '2.72', '5.10', '5.17', '2.67', '5.15', '2.63', '5.13', '2.62', '2.59', '6.73', '2.55', '5.12', '6.63', '5.11', '1.26', '4.95', '4.91', '41.62', '40.61', '40.68', '40.67', '41.03', '41.27', '39.86', '39.78', '35.75', '29.42', '31.00', '26.17', '23.95', '14.51', '4.80', '4.83', '4.85', '4.81', '4.75', '4.76', '4.70', '4.68', '4.66', '4.71', '4.56', '4.41', '4.26', '4.32', '3.63', '3.65', '2.99', '2.96', '3.01', '1.25', '2.74', '2.71', '2.25', '1.72', '22.97', '22.83', '28.29', '23.10', '10.78', '21.14', '17.42', '21.02', '25.53', '21.25', '15.74', '23.06', '8.79', '17.72', '17.63', '20.52', '17.81', '7.83', '15.44', '12.44', '18.19', '15.51', '6.94', '6.13', '7.67', '9.98', '7.63', '14.58', '5.55', '8.78', '7.80', '4.87', '6.91', '12.06', '6.97', '5.16', '7.64', '5.14', '11.41', '5.19', '3.99', '5.53', '10.89', '5.56', '3.51', '6.08', '3.37', '9.93', '3.39', '9.14', '3.28', '8.86', '2.17', '2.81', '8.94', '8.64', '2.79', '8.05', '7.59', '6.86', '6.39', '5.78', '30.38', '28.12', '23.42', '13.93', '10.92', '11.44', '10.62', '8.20', '10.13', '5.79', '6.01', '5.35', '1.99', '442.91', '439.81', '43.55', '445.67', '22.69', '435.75', '37.54', '432.95', '47.48', '438.52', '27.69', '420.54', '43.33', '417.98', '52.34', '423.06', '34.41', '410.29', '51.97', '407.87', '59.89', '412.67', '44.14', '391.61', '61.97', '389.25', '68.40', '393.63', '55.61', '337.23', '67.75', '335.57', '72.69', '338.86', '62.87', '280.12', '73.08', '278.66', '76.75', '281.56', '69.87', '244.69', '78.64', '243.44', '81.06', '245.92', '76.25', '219.80', '83.40', '218.70', '84.77', '220.89', '82.05', '181.54', '87.37', '180.77', '87.89', '182.30', '86.85', '151.17', '90.03', '150.63', '91.26', '151.70', '89.25', '142.87', '87.92', '142.29', '87.10', '143.44', '88.72', '102.52', '85.28', '102.22', '83.52', '102.81', '87.01', '77.35', '82.33', '76.86', '81.96', '77.55', '82.70', '69.88', '73.69', '69.77', '71.14', '70.27', '76.19', '57.18', '65.37', '56.97', '64.19', '57.38', '66.06', '50.39', '61.50', '50.14', '61.25', '50.64', '61.74', '55.36', '29.21', '55.78', '29.51', '54.94', '29.40', '50.26', '50.65', '29.41', '49.88', '44.86', '26.88', '46.82', '42.92', '24.91', '37.69', '24.74', '37.99', '25.08', '37.39', '21.93', '21.87', '21.99', '32.37', '6.33', '7.85', '9.57', '6.37', '6.15', '6.04', '5.29', '6.28', '5.74', '7.65', '5.41', '6.80', '5.47', '4.38', '5.23', '5.28', '6.42', '4.10', '4.12', '3.70', '3.72', '3.76', '3.42', '3.19', '4.44', '2.75', '2.29', '2.28', '2.31', '1.98', '2.86', '2.12', '36.22', '35.97', '36.18', '36.16', '36.12', '35.99', '33.05', '32.22', '28.67', '27.78', '25.23', '23.49', '28.22', '22.52', '17.46', '15.46', '17.70', '12.80', '14.12', '11.70', '163.36', '161.97', '23.29', '164.74', '18.72', '161.55', '23.35', '160.24', '25.35', '162.85', '21.35', '158.05', '26.07', '156.81', '27.80', '159.39', '24.34', '153.02', '29.02', '151.79', '30.59', '154.25', '27.45', '146.65', '32.06', '145.54', '33.26', '147.87', '30.64', '139.23', '34.73', '138.13', '36.00', '140.33', '33.67', '126.35', '36.53', '125.40', '37.56', '127.30', '35.51', '116.26', '38.25', '115.47', '117.05', '37.25', '109.40', '39.71', '108.67', '40.49', '110.13', '38.93', '98.67', '98.02', '99.31', '88.10', '39.90', '87.58', '88.71', '39.42', '78.09', '40.13', '77.59', '78.58', '39.64', '69.97', '40.88', '69.60', '41.38', '70.33', '40.39', '67.83', '39.83', '67.41', '40.43', '68.25', '39.24', '61.35', '38.96', '61.01', '40.18', '61.69', '37.55', '49.42', '34.63', '49.17', '35.13', '34.13', '30.98', '37.86', '38.26', '30.83', '38.40', '29.17', '38.15', '27.28', '38.63', '31.05', '36.06', '26.79', '35.91', '24.43', '36.20', '29.30', '29.32', '23.48', '29.19', '21.73', '29.45', '25.22', '25.46', '20.32', '18.84', '25.61', '21.64', '20.08', '17.22', '20.01', '16.22', '20.16', '18.36', '24.45', '21.65', '22.63', '21.24', '22.49', '18.79', '18.59', '16.28', '16.86', '16.72', '9.38', '12.08', '13.36', '9.39', '10.01', '4.90', '5.61', '2.33', '4.28', '5.26', '4.84', '4.42', '3.02', '3.57', '3.54', '2.66', '2.64', '2.15', '2.09', '40.50', '40.04', '39.95', '38.17', '38.65', '33.32', '27.84', '24.62', '22.82', '19.03', '14.43', '10.68', '13.55', '6.18', '79,000', '146.57', '16.01', '145.25', '18.71', '147.88', '13.32', '142.34', '19.57', '141.08', '21.88', '143.59', '17.25', '136.14', '23.40', '134.96', '25.40', '137.31', '21.40', '128.87', '27.33', '127.78', '129.96', '25.63', '120.99', '31.13', '119.99', '32.63', '121.99', '29.68', '110.97', '34.09', '110.08', '35.27', '111.88', '32.94', '102.73', '35.59', '101.88', '36.21', '103.55', '92.53', '37.04', '91.81', '93.27', '36.82', '80.94', '80.33', '81.55', '38.39', '65.66', '36.46', '65.19', '35.85', '66.13', '56.32', '34.92', '55.95', '33.95', '56.72', '35.89', '49.96', '33.57', '49.62', '32.47', '50.30', '34.67', '45.35', '45.07', '45.64', '33.15', '38.75', '30.74', '38.54', '29.47', '32.02', '30.08', '28.76', '29.93', '27.53', '30.24', '29.99', '23.68', '25.72', '23.56', '24.32', '23.78', '27.12', '23.47', '22.10', '22.11', '24.84', '20.87', '20.76', '20.50', '20.99', '23.12', '15.99', '18.24', '17.09', '19.42', '13.67', '9.16', '12.65', '9.23', '6.95', '11.19', '6.92', '10.35', '5.68', '9.49', '10.25', '4.58', '5.59', '9.41', '4.62', '4.67', '4.49', '4.54', '7.55', '4.59', '4.43', '4.45', '4.22', '4.27', '4.09', '3.82', '3.00', '3.84', '4.48', '3.0

The values are either numeric or categorical such as <100.

In [140]:
df_hiv["Age"].unique()

array(['Age 0-14', 'Age 10-19', 'Age 0-4', 'Age 0-19', 'Age 0-9',
       'Age 10-14', 'Age 15-19', 'Age 5-9'], dtype=object)

There are some overlapping in the range of age. We will choose the smallest range which are: Age 0-4, Age 5-9, Age 10-14, Age 15-19 and Age 0-19 to derive overall trends

<h2> 1.b. HIV Infection Data Cleaning

In this part, I will perform data cleaning to prepare it for visualization in Tableau.

For this project, we only need country-based data. Therefore we will drop the regions and global data.
Additionally, we only need the Age group 0-19

In [141]:
df_hiv = df_hiv[(df_hiv["Type"] == "Country") & (df_hiv["Age"] == "Age 0-19") ]

I also will drop data for both gender because it can be derived by the male and female data

In [142]:
df_hiv = df_hiv[df_hiv["Sex"] != "Both"]

Now we can drop unnecessary columns, which are "Lower","Upper","Data source","UNICEF Region","Type","Age" data

In [143]:
df_hiv = df_hiv.drop(["Lower","Upper","Data source","UNICEF Region","Type","Age"], axis = 1)

There are value with "<", we are going to delete it and assume that the data is about the numerical value. Additionally, we are going to change the type of the "Value" to float.

In [144]:
df_hiv["Value"] = df_hiv["Value"].str.replace("<","")

In [145]:
df_hiv["Value"] = df_hiv["Value"].str.replace(",","")

In [146]:
df_hiv["Value"].astype("float")

1901        100.0
1909        100.0
1925        100.0
1933        100.0
1949        100.0
           ...
181695    60000.0
181711    64000.0
181719    56000.0
181735    60000.0
181743    53000.0
Name: Value, Length: 13144, dtype: float64

In [147]:
df_hiv_country.Indicator.unique()

array(['Estimated mother-to-child transmission rate (%)',
       'Estimated number of annual AIDS-related deaths',
       'Estimated number of annual new HIV infections',
       'Estimated number of people living with HIV'], dtype=object)

In this project, I want to know the spread only, then I will choose 'Estimated number of annual new HIV infections'.

In [148]:
df_hiv_country_agg = df_hiv[df_hiv.Indicator == 'Estimated number of annual new HIV infections']

In [149]:
df_hiv_country_agg

,ISO3,Country/Region,Indicator,Year,Sex,Value
2427,AFG,Afghanistan,Estimated number of annual new HIV infections,2000,Female,100
2433,AFG,Afghanistan,Estimated number of annual new HIV infections,2000,Male,100
2445,AFG,Afghanistan,Estimated number of annual new HIV infections,2001,Female,100
2451,AFG,Afghanistan,Estimated number of annual new HIV infections,2001,Male,100
2463,AFG,Afghanistan,Estimated number of annual new HIV infections,2002,Female,100
...,...,...,...,...,...,...
181181,ZWE,Zimbabwe,Estimated number of annual new HIV infections,2019,Male,2700
181193,ZWE,Zimbabwe,Estimated number of annual new HIV infections,2020,Female,5000
181199,ZWE,Zimbabwe,Estimated number of annual new HIV infections,2020,Male,2800
181211,ZWE,Zimbabwe,Estimated number of annual new HIV infections,2021,Female,4700
181217,ZWE,Zimbabwe,Estimated number of annual new HIV infections,2021,Male,2700

In [151]:
df_hiv_country_agg = df_hiv_country_agg.drop("Indicator", axis = 1)

In [152]:
df_hiv_country_agg

       ISO3 Country/Region  Year     Sex Value
2427    AFG    Afghanistan  2000  Female   100
2433    AFG    Afghanistan  2000    Male   100
2445    AFG    Afghanistan  2001  Female   100
2451    AFG    Afghanistan  2001    Male   100
2463    AFG    Afghanistan  2002  Female   100
...     ...            ...   ...     ...   ...
181181  ZWE       Zimbabwe  2019    Male  2700
181193  ZWE       Zimbabwe  2020  Female  5000
181199  ZWE       Zimbabwe  2020    Male  2800
181211  ZWE       Zimbabwe  2021  Female  4700
181217  ZWE       Zimbabwe  2021    Male  2700

[4310 rows x 5 columns]

In [44]:
df_hiv_country_agg.to_csv('df_hiv_country_agg.csv', index=False)

<h2> 2.a. Gross Domestic Production Data EDA

The data used for this project is from the World Bank dataset

In [154]:
df_gdp = pd.read_csv('GDP_Global3.csv')

In [155]:
df_gdp

,Series Name,Series Code,Country Name,Country Code,2000 [YR2000],2001 [YR2001],2002 [YR2002],2003 [YR2003],2004 [YR2004],2005 [YR2005],...,2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021]
0,GDP (current US$),NY.GDP.MKTP.CD,Afghanistan,AFG,..,..,3854235264.37171,4539500884.0479,5220823684.66085,6226199249.32211,...,20203572959.5023,20564485419.1684,20550582746.8448,19998156214.3988,18019558181.9602,18896352021.94,18418848299.5825,18904490262.913,20143442150.971,14786861638.4535
1,GDP (current US$),NY.GDP.MKTP.CD,Albania,ALB,3480355258.04122,3922100793.5403,4348068242.19512,5611496257.14231,7184685781.51876,8052073539.38058,...,12319830437.3467,12776220507.0162,13228147516.1168,11386850129.8411,11861199830.8396,13019689336.6919,15156432309.8977,15401830754.0773,15131866270.5936,18255787479.1846
2,GDP (current US$),NY.GDP.MKTP.CD,Algeria,DZA,54790392746.1939,54744712814.8676,56760355865.0082,67863828412.6882,85332581188.6107,103198223709.439,...,209058991952.125,209755003250.664,213810024944.464,165979279263.174,160034163871.455,170097014589.134,174910878623.049,171767403748.19,145009181490.62,163044443983.759
3,GDP (current US$),NY.GDP.MKTP.CD,American Samoa,ASM,..,..,512000000,524000000,509000000,500000000,...,640000000,638000000,643000000,673000000,671000000,612000000,639000000,647000000,716000000,709000000
4,GDP (current US$),NY.GDP.MKTP.CD,Andorra,AND,1429049198.45218,1546926174.49664,1755910031.99699,2361726862.30248,2894921777.99851,3159905484.39249,...,3188808942.56713,3193704343.20627,3271808157.30038,2789870187.50693,2896679211.86628,3000180750.11297,3218316013.22626,3155065487.51819,2891022272.98687,3330281523.53915
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
218,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
219,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
220,Data from database: World Development Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
221,Last Updated: 12/22/2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

We can see from the table above that the table holds data of the GDP in USD from 2000 until 2021. However, several last rows are empty or unnecesaries.

There are several empty GDP data that are filled with ".." too. FOr examples Afghanistan and American Samoa GDP in 2000 and 2001

In [156]:
df_gdp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 222 entries, 0 to 221
Data columns (total 26 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series Name    219 non-null    object
 1   Series Code    217 non-null    object
 2   Country Name   217 non-null    object
 3   Country Code   217 non-null    object
 4   2000 [YR2000]  217 non-null    object
 5   2001 [YR2001]  217 non-null    object
 6   2002 [YR2002]  217 non-null    object
 7   2003 [YR2003]  217 non-null    object
 8   2004 [YR2004]  217 non-null    object
 9   2005 [YR2005]  217 non-null    object
 10  2006 [YR2006]  217 non-null    object
 11  2007 [YR2007]  217 non-null    object
 12  2008 [YR2008]  217 non-null    object
 13  2009 [YR2009]  217 non-null    object
 14  2010 [YR2010]  217 non-null    object
 15  2011 [YR2011]  217 non-null    object
 16  2012 [YR2012]  217 non-null    object
 17  2013 [YR2013]  217 non-null    object
 18  2014 [YR2014]  217 non-null    object
 19  2015 [YR2015]  217 non-null    object
 20  2016 [YR2016]  217 non-null    object
 21  2017 [YR2017]  217 non-null    object
 22  2018 [YR2018]  217 non-null    object
 23  2019 [YR2019]  217 non-null    object
 24  2020 [YR2020]  217 non-null    object
 25  2021 [YR2021]  217 non-null    object
dtypes: object(26)
memory usage: 45.2+ KB

All the data types are object. I will change these in the data cleaning part

<h2> 2.b. Gross Domestic Production Data Data Cleaning

In [160]:
column_names = list(df_gdp.columns.values)

In [161]:
print(column_names)

['Series Name', 'Series Code', 'Country Name', 'Country Code', '2000 [YR2000]', '2001 [YR2001]', '2002 [YR2002]', '2003 [YR2003]', '2004 [YR2004]', '2005 [YR2005]', '2006 [YR2006]', '2007 [YR2007]', '2008 [YR2008]', '2009 [YR2009]', '2010 [YR2010]', '2011 [YR2011]', '2012 [YR2012]', '2013 [YR2013]', '2014 [YR2014]', '2015 [YR2015]', '2016 [YR2016]', '2017 [YR2017]', '2018 [YR2018]', '2019 [YR2019]', '2020 [YR2020]', '2021 [YR2021]']

Let's drop the unnecessary columns

In [162]:
df_gdp

,Series Name,Series Code,Country Name,Country Code,2000 [YR2000],2001 [YR2001],2002 [YR2002],2003 [YR2003],2004 [YR2004],2005 [YR2005],...,2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021]
0,GDP (current US$),NY.GDP.MKTP.CD,Afghanistan,AFG,..,..,3854235264.37171,4539500884.0479,5220823684.66085,6226199249.32211,...,20203572959.5023,20564485419.1684,20550582746.8448,19998156214.3988,18019558181.9602,18896352021.94,18418848299.5825,18904490262.913,20143442150.971,14786861638.4535
1,GDP (current US$),NY.GDP.MKTP.CD,Albania,ALB,3480355258.04122,3922100793.5403,4348068242.19512,5611496257.14231,7184685781.51876,8052073539.38058,...,12319830437.3467,12776220507.0162,13228147516.1168,11386850129.8411,11861199830.8396,13019689336.6919,15156432309.8977,15401830754.0773,15131866270.5936,18255787479.1846
2,GDP (current US$),NY.GDP.MKTP.CD,Algeria,DZA,54790392746.1939,54744712814.8676,56760355865.0082,67863828412.6882,85332581188.6107,103198223709.439,...,209058991952.125,209755003250.664,213810024944.464,165979279263.174,160034163871.455,170097014589.134,174910878623.049,171767403748.19,145009181490.62,163044443983.759
3,GDP (current US$),NY.GDP.MKTP.CD,American Samoa,ASM,..,..,512000000,524000000,509000000,500000000,...,640000000,638000000,643000000,673000000,671000000,612000000,639000000,647000000,716000000,709000000
4,GDP (current US$),NY.GDP.MKTP.CD,Andorra,AND,1429049198.45218,1546926174.49664,1755910031.99699,2361726862.30248,2894921777.99851,3159905484.39249,...,3188808942.56713,3193704343.20627,3271808157.30038,2789870187.50693,2896679211.86628,3000180750.11297,3218316013.22626,3155065487.51819,2891022272.98687,3330281523.53915
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
218,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
219,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
220,Data from database: World Development Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
221,Last Updated: 12/22/2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [163]:
df_gdp = df_gdp.drop(['Series Name', 'Series Code'], axis = 1)

Now, I will drop the unneccary rows, which are row 217 until 221

In [164]:
df_gdp = df_gdp.drop(df_gdp.index[217:])

I want to make the structure of the GDP data to be similar with the HIV infection data, in which I will have a column that has the Year data, instead having the years as columns.

In [165]:
df_gdp = df_gdp.set_index(['Country Name','Country Code'])

In [166]:
df_gdp

,,2000 [YR2000],2001 [YR2001],2002 [YR2002],2003 [YR2003],2004 [YR2004],2005 [YR2005],2006 [YR2006],2007 [YR2007],2008 [YR2008],2009 [YR2009],...,2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021]
Country Name,Country Code,,,,,,,,,,,,,,,,,,,,,
Afghanistan,AFG,..,..,3854235264.37171,4539500884.0479,5220823684.66085,6226199249.32211,6971379033.26327,9715761649.79443,10249767311.213,12154835707.8987,...,20203572959.5023,20564485419.1684,20550582746.8448,19998156214.3988,18019558181.9602,18896352021.94,18418848299.5825,18904490262.913,20143442150.971,14786861638.4535
Albania,ALB,3480355258.04122,3922100793.5403,4348068242.19512,5611496257.14231,7184685781.51876,8052073539.38058,8896072918.9814,10677324144.4289,12881353507.8539,12044208085.864,...,12319830437.3467,12776220507.0162,13228147516.1168,11386850129.8411,11861199830.8396,13019689336.6919,15156432309.8977,15401830754.0773,15131866270.5936,18255787479.1846
Algeria,DZA,54790392746.1939,54744712814.8676,56760355865.0082,67863828412.6882,85332581188.6107,103198223709.439,117027307540.89,134977082623.78,171000699876.747,137211035770.034,...,209058991952.125,209755003250.664,213810024944.464,165979279263.174,160034163871.455,170097014589.134,174910878623.049,171767403748.19,145009181490.62,163044443983.759
American Samoa,ASM,..,..,512000000,524000000,509000000,500000000,493000000,518000000,560000000,675000000,...,640000000,638000000,643000000,673000000,671000000,612000000,639000000,647000000,716000000,709000000
Andorra,AND,1429049198.45218,1546926174.49664,1755910031.99699,2361726862.30248,2894921777.99851,3159905484.39249,3456442102.622,3952600602.24473,4085630584.44412,3674409558.21061,...,3188808942.56713,3193704343.20627,3271808157.30038,2789870187.50693,2896679211.86628,3000180750.11297,3218316013.22626,3155065487.51819,2891022272.98687,3330281523.53915
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Virgin Islands (U.S.),VIR,..,..,3262000000,3443000000,3797000000,4428000000,4484000000,4784000000,4244000000,4201000000,...,4089000000,3738000000,3565000000,3663000000,3798000000,3794000000,3922000000,4117000000,4204000000,..
West Bank and Gaza,PSE,4313600000,4003700000,3555800000,3968000000,4603100000,5125700000,5348300000,5815700000,7310400000,8085700000,...,12208400000,13515500000,13989700000,13972400000,15405400000,16128000000,16276600000,17133500000,15531700000,18036800000
"Yemen, Rep.",YEM,9652436179.64605,9861560094.74009,10694628091.6726,11777966673.3897,13872791658.5487,16746344766.2044,19061978586.1278,21650532264.2322,26910851361.7555,25130274124.2525,...,35401323349.8817,40415233436.1767,43228585321.3272,42444495590.1077,31317828583.5859,26842231204.8047,21606161066.2074,..,..,..
Zambia,ZMB,3600683039.73254,4094480988.11931,4193845678.17033,4901839731.26571,6221077674.77871,8331870169.14977,12756858899.2812,14056957976.2648,17910858637.9048,15328342303.9575,...,25503060420.026,28037239462.7142,27141023558.0829,21251216798.7762,20958412538.3093,25873601260.8353,26311590296.7021,23308667781.2258,18110631358.3114,22147634727.3584
Zimbabwe,ZWE,6689957600,6777384700,6342116400,5727591800,5805598400,5755215200,5443896500,5291950100,4415702800,9665793264,...,17114849880,19091019990,19495519630,19963120610,20548678070,17584890937.482,34156069918.0609,21832234925.5021,21509698406.1116,28371238665.5116

In [167]:
df1 = df_gdp.stack()

In [168]:
df1 = df1.to_frame() #Because .stack() output is a Series

In [169]:
df1

                                                        0
Country Name Country Code
Afghanistan  AFG          2000 [YR2000]                ..
                          2001 [YR2001]                ..
                          2002 [YR2002]  3854235264.37171
                          2003 [YR2003]   4539500884.0479
                          2004 [YR2004]  5220823684.66085
...                                                   ...
Zimbabwe     ZWE          2017 [YR2017]   17584890937.482
                          2018 [YR2018]  34156069918.0609
                          2019 [YR2019]  21832234925.5021
                          2020 [YR2020]  21509698406.1116
                          2021 [YR2021]  28371238665.5116

[4774 rows x 1 columns]

Because the missing GDP data are filled with "..", I will change it to 0 instead of NULL because we do not want to have NULL for our

In [170]:
df1[df1[0] == ".."] = None

In [172]:
df1 = df1.fillna(0)

In [173]:
df1

                                                        0
Country Name Country Code
Afghanistan  AFG          2000 [YR2000]                 0
                          2001 [YR2001]                 0
                          2002 [YR2002]  3854235264.37171
                          2003 [YR2003]   4539500884.0479
                          2004 [YR2004]  5220823684.66085
...                                                   ...
Zimbabwe     ZWE          2017 [YR2017]   17584890937.482
                          2018 [YR2018]  34156069918.0609
                          2019 [YR2019]  21832234925.5021
                          2020 [YR2020]  21509698406.1116
                          2021 [YR2021]  28371238665.5116

[4774 rows x 1 columns]

In [174]:
df1 = df1.astype(float)

In [175]:
df1

                                                    0
Country Name Country Code
Afghanistan  AFG          2000 [YR2000]  0.000000e+00
                          2001 [YR2001]  0.000000e+00
                          2002 [YR2002]  3.854235e+09
                          2003 [YR2003]  4.539501e+09
                          2004 [YR2004]  5.220824e+09
...                                               ...
Zimbabwe     ZWE          2017 [YR2017]  1.758489e+10
                          2018 [YR2018]  3.415607e+10
                          2019 [YR2019]  2.183223e+10
                          2020 [YR2020]  2.150970e+10
                          2021 [YR2021]  2.837124e+10

[4774 rows x 1 columns]

In [176]:
df1 = df1.reset_index()

In [177]:
df1

     Country Name Country Code        level_2             0
0     Afghanistan          AFG  2000 [YR2000]  0.000000e+00
1     Afghanistan          AFG  2001 [YR2001]  0.000000e+00
2     Afghanistan          AFG  2002 [YR2002]  3.854235e+09
3     Afghanistan          AFG  2003 [YR2003]  4.539501e+09
4     Afghanistan          AFG  2004 [YR2004]  5.220824e+09
...           ...          ...            ...           ...
4769     Zimbabwe          ZWE  2017 [YR2017]  1.758489e+10
4770     Zimbabwe          ZWE  2018 [YR2018]  3.415607e+10
4771     Zimbabwe          ZWE  2019 [YR2019]  2.183223e+10
4772     Zimbabwe          ZWE  2020 [YR2020]  2.150970e+10
4773     Zimbabwe          ZWE  2021 [YR2021]  2.837124e+10

[4774 rows x 4 columns]

In [178]:
df1.rename(columns={"level_2": "Year"}, inplace=True)

In [179]:
df1.rename(columns={0: "GDP in bill USD"}, inplace=True)

In [180]:
df1["GDP in bill USD"] = df1["GDP in bill USD"]/1000000000

In [181]:
df1

     Country Name Country Code           Year  GDP in bill USD
0     Afghanistan          AFG  2000 [YR2000]         0.000000
1     Afghanistan          AFG  2001 [YR2001]         0.000000
2     Afghanistan          AFG  2002 [YR2002]         3.854235
3     Afghanistan          AFG  2003 [YR2003]         4.539501
4     Afghanistan          AFG  2004 [YR2004]         5.220824
...           ...          ...            ...              ...
4769     Zimbabwe          ZWE  2017 [YR2017]        17.584891
4770     Zimbabwe          ZWE  2018 [YR2018]        34.156070
4771     Zimbabwe          ZWE  2019 [YR2019]        21.832235
4772     Zimbabwe          ZWE  2020 [YR2020]        21.509698
4773     Zimbabwe          ZWE  2021 [YR2021]        28.371239

[4774 rows x 4 columns]

Now, I want to change the data in the "Year" column into integer

In [183]:
df1["Year"] = df1["Year"].str[:4]

In [184]:
df1["Year"] = df1["Year"].astype(int)

In [185]:
df1

     Country Name Country Code  Year  GDP in bill USD
0     Afghanistan          AFG  2000         0.000000
1     Afghanistan          AFG  2001         0.000000
2     Afghanistan          AFG  2002         3.854235
3     Afghanistan          AFG  2003         4.539501
4     Afghanistan          AFG  2004         5.220824
...           ...          ...   ...              ...
4769     Zimbabwe          ZWE  2017        17.584891
4770     Zimbabwe          ZWE  2018        34.156070
4771     Zimbabwe          ZWE  2019        21.832235
4772     Zimbabwe          ZWE  2020        21.509698
4773     Zimbabwe          ZWE  2021        28.371239

[4774 rows x 4 columns]

In [186]:
df_gdp = df1

In [187]:
df_gdp

     Country Name Country Code  Year  GDP in bill USD
0     Afghanistan          AFG  2000         0.000000
1     Afghanistan          AFG  2001         0.000000
2     Afghanistan          AFG  2002         3.854235
3     Afghanistan          AFG  2003         4.539501
4     Afghanistan          AFG  2004         5.220824
...           ...          ...   ...              ...
4769     Zimbabwe          ZWE  2017        17.584891
4770     Zimbabwe          ZWE  2018        34.156070
4771     Zimbabwe          ZWE  2019        21.832235
4772     Zimbabwe          ZWE  2020        21.509698
4773     Zimbabwe          ZWE  2021        28.371239

[4774 rows x 4 columns]

In [188]:
df_gdp.to_csv('df_gdp.csv', index=False)

I will now create a visualization on Tableau:

<a href="https://public.tableau.com/app/profile/benarivo/viz/GDPvsHIVAidsInfectionsonPopulationAge0-19/Dashboard1">Tableau Viz</a>

<h2> Thank you!